body{
    font-family: 'Lato', sans-serif;
}
header{
    margin-bottom: 0;
    border: 0px None;
}
.btn-primary{
    display: inline-flex;
    padding: 5px 3px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 10px;
    font-weight: 500;
}
.banner{
    display: flex;
    background-color: #f8dee4;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    margin-top: 0;
    border: None;
    height: 300px;
}


.profile-picture{
    width: 235px;
}

.banner-greeting{
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
}

.banner-title{
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
}
span{
    color: #f8647d;
}
.sale{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 100px 30px 100px;
    background-color: #f7e3e8;
    margin-top: 100px;
}

.sale-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sale-title{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.sale-des{
    text-align: center;
}
.sale-picture{
    width: 150px;
}

#sale-btn{
    padding: 8px 8px;
    gap: 10px;
    background: #E55473;
    color: #FFF;
    font-size: 10px;
    font-weight: 500;
}

li{
    list-style: none;
}
ul{
    display: flex;
    align-items: center;
    padding: none;
    justify-content: space-evenly;
    margin-top: 50px;
}

.instagram-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.instagram-des{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;   
}

.instagram{
    margin-top: 100px;
}

.instagram-picture{
    width: 200px;
}

.user-input{
    background-image: url('../Flower Asset/Rectangle 9.png');
    width: 1089px;
    height: 300px;
    margin-left: 140px;
    margin-right: 140px;
}

.user-input-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-top: 60px;
}

.user-input-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.input-box{
    width: 300px;
    height: 30px;
    flex-shrink: 0;
}

.input{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

#Subscribe{
    width: 64px;
    height: 30px;
    border-radius: 0px;
    text-align: center;
    justify-content: center;
}